
:root {
--flourescent-blue: #00f9ef;
--dark-violet: #0c003d;
--space-cadet: #221d48;
--white: #ffffff;

--gradient: linear-gradient(to right, var(--flourescent-blue), var(--blue-ryb));
/* Font */
--ff-josefin: 'Josefin sans', sans-serif; 

/* Font Weight */
--fs-1: 25px;
--fs-2: 18px;
--fs-3: 17px;
--fs-4: 15px;

/* Font- weight */
--fw-500: 500;
--fw-700: 700;

--transition: 0.25s ease-in-out;

--section-padding: 30px;

}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: var(--ff-josefin);
}

body {
  background: var(--dark-violet);
  color: white;
}

